@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 20px;
    color: black;
    width: 100%;
}

#wrap {
    min-height: 100%;
    position: relative;
}

header{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Uchen', serif;
}

footer {
    width: 100%;
    background: #0c0c0c;
    height: 200px;
    <!--position: absolute;-->
    <!--bottom: 0;-->
    <!--margin-bottom: -200px;-->
}

.backgroundBlack {
    background-color: #131313;
}

 header a, footer > div > a{
    color: white;
    text-decoration: none;
    padding: 3px;
    margin-right: 13px;
    margin-left: 13px;
    font-size: 20px;
}

footer > div > a {
    font-size: 15px;
}

 .align {
     display: flex;
     align-items: center;
 }

#logoMarvel{
    width: 140px;
    position: absolute;
    left: 5%;
}

.imageChara {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 15px;
}

.imageChara:hover {
    filter: brightness(50%);
}

header a:hover, footer > div > a:hover{
    text-decoration: underline #ED3535;
    color: #ED3535;
}

a {
    text-decoration: none;
    color: #0c0c0c;
}

a:hover {
    text-decoration: underline;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=72401), pointer;
}

main{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 35px;
}

.marginTop {
    margin-top: 20px;
}

#pictureHeros{
    width: 90%;
}

.width_100 {
    width: 100%;
}

.width_90 {
    width: 90%;
}

.width_10 {
    width: 10%;
}

.width_30 {
    width: 30%;
}

.background  {
    width: 100%;
    background-color: #e7e6e6;
    padding: 20px;
}

.width_70 {
    width: 70%;
}

.center {
    text-align: center;
}

.auto {
    margin: 0 auto;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 55%;
}

.lineVertical {
    border-right: 1px solid #a7a7a7;
    height: 60px;
    margin-left: 15px;
    margin-right: 15px;
}

.lineVertical2 {
    height: 300px;
    border-right: 2px solid #a7a7a7;
    margin: 15px;
}

#table {
    color: #7e7e7e;
    font-size: 17px;
}

.bold {
    font-weight: bold;
}

.lineTop {
    margin-top: 30px;
    margin-bottom: 20px;
}

.lineBottom {
    margin-top: 20px;
    margin-bottom: 30px;
}

.lineHorizontal {
    border-bottom: 1px solid #A7A7A7;
}

.lineHorizontal2 {
    border-bottom: 2px solid #A7A7A7;
    width: 50%;
    margin: 30px auto;
}

.titleChara {
    font-size: 35px;
    font-weight: bold;
    color: #0c0c0c;
    margin: 30px;
}

.photoActor {
    width: 30%;
    border-radius: 15px;
    margin: 15px;
}

.pictures {
    width: 22.5%;
    margin: 15px;
    border-radius: 15px;
}

.pictures > img {
    border-radius: 15px;
}

.picture {
    width: 100%;
}

.grey {
    color: #A7A7A7;
    font-weight: bold;
}

.blue {
    color: #5e7acf;
}

.awards {
    font-size: 18px;
    margin: 5px 10px 5px 10px;
}

.fa-caret-down, .fa-caret-up {
    font-size: 12px;
    color: black;
    border: 1px solid #A7A7A7;
    border-radius: 10px;
    padding: 5px 10px;
    width: initial;
}

#awards {
    display: none;
    padding: 50px;
}

.fab, .fas {
    color: black;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.account {
    position: absolute;
    right: 3%;
}

.account > span {
    font-size: 20px;
}

.carousel{
    position: relative;
    margin: auto;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}

.imagesCarousel {
    display: flex;
    position: relative;
}

.imagesCarousel img {
    display: block;
    width: 100%;
}

.buttonsCarousel {
    position: absolute;
    bottom: 30px;
    right: 25%;
    display: flex;
}

.buttonsCarousel a {
    display: block;
    color: white;
    background-color: rgba(150, 150, 150, 0.8);
    text-decoration: none;
    border-radius: 100% 100%;
    padding: 10px;
    margin: 5px;
    transition: all 2s ease-in-out;
}

.buttonsCarousel a:hover {
    background-color: rgba(51, 51, 51, 0.9);
}

.buttonsCarousel a.active {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
}

.title {
    color: white;
    padding: 40px;
    background-color: #0c0c0c;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.containerHeroes{
    width: 95%;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    background-color: rgb(33, 33, 33);
    color: white;
}

.descriptionHeroes{
    width: 70%;
    font-size: 15px;
    line-height: 25px;
    padding: 10px;
}

.imageHeroes{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    color: #4e4e4e;
}

.titleDescription {
    font-size: 25px;
    margin: 15px;
}

.width_20 {
    width: 20%;
}

.titleIndex {
    font-size: 30px;
    margin: 10px auto;
}

.subtitle {
    font-size: 20px;
    color: #7e7e7e;
}

.marvelWord {
    color: #ed3535;
    font-size: 35px;
}

.descriptionHeroes > p > span, .descriptionHeroes > ul > span {
    color: black;
    font-weight: bold;
}

form {
    margin: 20px auto;
}

.right {
    position: absolute;
    right: 2.6%;
}

.forget {
    font-size: 14px;
    margin-left: 10px;
}

.form {
    border: none;
    color: #868686;
    background-color: white;
    border-bottom: 2px solid #ff0000;
    padding: 4px;
    font-size: 18px;
}

textarea.form {
    border: 2px solid #ff0000;
    border-radius: 10px;
    height: 200px;
}

#message {
    border: 2px solid #ff0000;
    height: 200px;
    margin: 10px;
}

.button {
    border: none;
    color: white;
    font-size: 18px;
    background-color: #ed3535;
    border-radius: 10px;
    padding: 4px;
}

.button:hover {
    background-color: #b80000;
}

li{
    margin-left: 25px;
}

.sentenceGrey {
    font-size: 13px;
    color: #7e7e7e;
}

.imgMovies {
    width: 200px;
    margin: 10px;
}

.width_80 {
    width: 80%;
}

.imgMovies:hover, .pictures:hover {
    filter: brightness(80%);
}

.titleMovies {
    color: grey;
    font-size: 18px;
    text-align: center;
}

.buttonLink {
    position: absolute;
    right: 10%;
}

.buttonMarg {
    margin: 40px;
}

.colorWhite {
    color: white;
}

.width_px {
    width: 220px;
}

.width_px:hover {
    transform-origin: center;
    transform: scale(1.2);
}

#subMenu, #menuMobile {
    display: none;
}

#subMenu {
    padding: 20px;
    background-color: black;
    position: absolute;
    z-index: 999;
    color: white;
}

.linkMenuMobile {
    font-size: 2rem;
    padding: 10px;
}

.fa-chevron-circle-right {
    margin: 0 10px 0 10px;
}

.linkMenuMobile:hover {
    background-color: rgba(207, 205, 205, 0.7);
    border-radius: 10px;
}

#logoMenu {
    margin-left: 30px;
}

#logoMenu:hover {
    color: #7e7e7e;
}

.picturesActor, .picturesAll, #game, .contentCenter {
    justify-content: center;
}

.width_40 {
    width: 40%;
}

.width_50 {
    width: 50%;
}

.description {
    color: #353535;
    font-size: 17px;
    padding: 3px 0 3px 0;
}

.video {
    margin: 30px 0 30px 0;
}

.width_60 {
    width: 60%;
}

.comment {
    margin: 20px auto;
    background-color: #0c0c0c;
    color: white;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
}

.red {
    color: red;
}

#formConnect, .formContainer {
    border: 1px solid #A7A7A7;
    border-radius: 20px;
    padding: 40px;
}

label, #formConnect > input  {
    font-size: 25px;
    margin: 10px;
}

#formConnect > input.button, .formContainer > input[type=submit]{
    margin-top: 20px;
}

.alertMdp {
    font-size: 12px;
    color: #7e7e7e;
    margin-left: 10px;
    width: 98%
}

footer > div > a {
    font-size: 12px;
}

.menuAccount, #subMenuAccount {
    border: 3px solid #727272;
    border-radius: 15px;
    background-color: #0c0c0c;
    padding: 10px;
    margin: 20px;
}

.menuAccount > a, #subMenuAccount > a {
    color: white;
    padding: 5px;
    margin: 5px;
    background-color: #131313;
}

.buttonEnter {
    padding: 5px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    width: 40%;
}

.title2 {
    font-size: 40px;
}

.menuAccount > a:hover {
    background-color: #525252;
}

.menuAccount > a.disconnection, #subMenuAccount > a.disconnection, .disconnection {
    background-color: #ff0e0e;
}

.disconnection:hover, #subMenuAccount > a.disconnection:hover, .menuAccount > a.disconnection:hover {
    background-color: #b80000;
}

.contentAccount {
    padding: 50px;
}

.info {
    background-color: #343434;
    padding: 5px;
    margin: 10px;
    font-size: 25px;
}

.contentAccount > a {
    margin: 15px;
    border-radius: 20px;
}

.contentAccount > a.edit1, .contentAccount > a.edit2 {
    background-color: white;
    color: black;
}

.contentAccount > a.edit1:hover {
    color: white;
    background-color: gold;
}

.contentAccount > a.edit2:hover {
    color: white;
    background-color: #457bd3;
}

.edit1 > .fa-edit, .edit2 > .fa-edit {
    margin-left: 10px;
}

.logoEdit:hover {
    background-color: gold;
    color: white;
}

.logoDelete:hover {
    background-color: #ff0e0e;
    color: white;
}

#subMenuAccount, #menuAccountMobile {
    display: none;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 190px;
    perspective: 1000px;
    margin: 15px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 15px;
}

.flip-card-front > .pictures {
    width: 300px;
    height: 190px;
    margin: 0;
}

.flip-card-back {
    background-color: #e7e6e6;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
}

.flip-card-back > h1 {
    font-size: 27px;
}

.menuAccount > h3 {
    text-decoration: underline;
}

.logoStar {
    color: #ffcc00;
}

.logoStar:hover {
    color: #b80000;
}

.starPosition {
    position: absolute;
    margin-top: -140px;
    margin-left: 20px;
}
.starPosition2 {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}

#menuAccountMobile2 {
    width: 100px;
    text-align: center;
    padding: 7px;
    margin: 10px;
}

.titlePicture {
    margin-top: 20px;
    color: #ff0e0e;
    font-size: 40px;
}

.margR {
    margin-right: 10px;
}

.buttonView {
    color: #ff0e0e;
    font-size: 30px;
    margin: 0 30px;
}

.buttonView:hover {
    color: #0c0c0c;
}

.containerView {
    padding: 10px;
    margin: 10px 0;
    border-top: 2px solid #e7e6e6;
    border-bottom: 2px solid #e7e6e6;
}

.choice {
    width: 30px;
    height: 30px;
    border: 1px solid #A7A7A7;
    border-radius: 10px;
    margin: 10px;
}

.black {
    background-color: black;
}

.brown {
    background-color: #543a3a;
}

.yellow {
    background-color: #eed99b;
}

.gray {
    background-color: #A7A7A7;
}

.blue {
    background-color: #457bd3;
}

.red {
    background-color: #ed3535;
}

.green {
    background-color: seagreen;
}

.pink {
    background-color: hotpink;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: mediumpurple;
}

.yellow2 {
    background-color: #f3f30a;
}

@media screen and (max-width: 1300px) {
    .flip-card-front > .pictures, .flip-card {
        width: 220px;
        height: 150px;
    }
}

@media screen and (max-width: 1250px) {
    .account {
        position: relative;
        display: block;
        left: 35%;
    }
    header.wrap {
        display: flex;
        flex-direction: column-reverse;
    }
    #formConnect, .contentAccount > a, #accountWidth, #modify1 {
        width: 90%;
    }
    #flexPicture {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #commentPicture {
        width: 100%;
    }
}

@media screen and (max-width: 1060px) {
    .flip-card-front > .pictures, .flip-card {
        width: 200px;
        height: 150px;
    }
}

@media screen and (max-width: 1000px) {
    .photoActor{
        width: 45%;
        margin: 10px;
    }
    .pictures {
        width: 28%;
    }
    .imageChara {
        width: 160px;
        height: 160px;
    }
    #logoMarvel {
        left: 1%;
    }
    #accountMain {
        width: 95%;
    }
    #infoMovie {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #synopsis {
        width: 100%;
        padding: 20px;
    }
    #synopsis > h3 {
        text-align: center;
    }
    .lineVertical2 {
        display: none;
    }
    iframe {
        width: 671px;
        height: 346px;
    }
    .flip-card-front > .pictures, .flip-card {
        width: 300px;
        height: 190px;
    }
    .picture {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    #photoCharacter {
        display: none;
    }
    #descriptionCharacter {
        width: 100%;
    }
    header a {
        font-size: 18px;
        margin-right: 10px;
        margin-left: 10px;
    }
    #accountWidth {
        width: 99%;
    }
}

@media screen and (max-width: 800px) {
    #acceuil {
        margin-left: 15px;
    }
    header a {
        font-size: 16px;
        margin-right: 8px;
        margin-left: 8px;
    }
    #table {
        font-size: 11px;
    }
    .imgMovies {
        width: 250px;
    }
    .width_px {
        width: 270px;
    }
    header {
        justify-content: flex-end;
    }
    #menuAccount {
        display: none;
    }
    .contentAccount {
        width: 95%;
        margin: auto;
        padding: 20px;
    }
    #accountPage {
        flex-direction: column;
    }
    #menuAccountMobile {
        display: block;
        width: 100px;
        text-align: center;
        padding: 7px;
        margin: 10px;
    }
    #subMenuAccount {
        z-index: 9999;
        margin-top: 40px;
        position: absolute;
        width: 40%;
        border: none;
        background-color: RGBA(0,0,0,0.8);
    }
    .flip-card-front > .pictures, .flip-card {
        width: 200px;
        height: 150px;
    }
    #flexPicture {
        width: 98%;
    }
}

@media screen and (max-width: 700px) {
    .pictures, .flip-card  {
        width: 43%;
    }
    .picture {
        width: 100%;
    }
    #menu, .account {
        display: none;
    }
    #menuMobile{
        display: flex;
        height: 80px;
    }
    #logoMarvel {
        left: initial;
        right: 10%;
    }
    #containerMovies {
        width: 100%;
        justify-content: center;
    }
    iframe {
        width: 471px;
        height: 256px;
    }
}

@media screen and (max-width: 600px) {
    .width_px {
        width: 180px;
    }

    .imgMovies {
        width: 150px;
    }

    #table {
        flex-direction: column;
        width: 70%;
        font-size: 17px;
    }

    .lineVertical {
        border-bottom: 1px solid #A7A7A7;
        border-right: 0;
        height: 0;
        margin: 15px 0 15px 0;
        width: 100%;
    }

    .lineHorizontal {
        display: none;
    }

    .picturesBook, .team {
        width: 50%;
    }

    #formConnect {
        padding: 5px;
        border: none;
    }
    .flip-card-front > .pictures, .flip-card {
        width: 300px;
        height: 190px;
    }
}

@media screen and (max-width: 500px) {
    iframe {
        width: 371px;
        height: 206px;
    }
    #subMenuAccount {
        width: 70%;
    }
    .titlePicture {
        font-size: 30px;
    }
}

@media screen and (max-width: 400px) {
    .photoActor {
        width: 80%;
    }
    .info, .contentAccount > a {
        font-size: 18px;
    }
    iframe {
        width: 271px;
        height: 156px;
    }
    .flip-card-front > .pictures, .flip-card {
        width: 250px;
        height: 160px;
    }
}

@media screen and (max-width: 360px) {
    .form, .button {
        font-size: 13px;
    }
    .flip-card-front > .pictures, .flip-card {
        width: 200px;
        height: 120px;
    }
    .datePubli {
        font-size: 12px;
    }
    .flip-card-back > h1 {
        font-size: 20px;
    }
}
