@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: black;
    width: 100%;
}

header{
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Uchen', serif;
    border-bottom: 1px solid #d2d2d2;
}

 header a{
    color: #ED3535;
    text-decoration: none;
    border-radius: 10px 10px;
    padding: 3px;
    margin-right: 13px;
    margin-left: 13px;
    font-size: 20px;
}

#logoMarvel{
    width: 140px;
}

#acceuil{
    margin-left: 400px;
}

header {
    margin-bottom: 50px;
}

header a:hover{
    text-decoration: underline #ED3535;
    color: #ED3535;
}

main{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

h1 {
    font-size: 40px;
}

#pictureHeros{
    width: 90%;
}

.carousel{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 500px;
    overflow: hidden;
    box-shadow: 10px 10px 30px darkred;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.imagesCarousel {
    display: flex;
    position: relative;
}

.imagesCarousel img {
    display: block;
    width: 1000px;
    height: 500px;
}

.buttonsCarousel {
    position: absolute;
    bottom: 30px;
    right: 25%;
    display: flex;
}

.buttonsCarousel a {
    display: block;
    color: white;
    background-color: rgba(150, 150, 150, 0.8);
    text-decoration: none;
    border-radius: 100% 100%;
    padding: 10px;
    margin: 5px;
    transition: all 2s ease-in-out;
}

.buttonsCarousel a:hover {
    background-color: rgba(51, 51, 51, 0.9);
}

.buttonsCarousel a.active {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
}

p{
    font-size: 20px;
}

#acceuil{
    margin-left: 400px;
}

.containerHeroes{
    width: 70%;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    background-color: rgba(98, 100, 178, 0.8);
    font-size: 12px;
    color: white;
}

.descriptionHeroes{
    width: 70%;
    padding: 10px;
}

.imageHeroes{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    text-align: center;
    font-size: 20px;
    color: #0077FF;
}

.titleIndex {
    font-size: 30px;
    margin: 10px auto;
}

.subtitle {
    font-size: 20px;
    color: #7e7e7e;
}

.marvelWord {
    color: #ED3535;
    font-size: 35px;
}

li{
    margin-left: 13px;
}

.colorGreen{
    color: #0D6C0F;
}

.colorYellow{
    color: #EED71A;
}

.colorRed, span{
    color: #AD0404;
}

.colorBlack{
    color: black;
}

.colorOrange{
    color: #FF9422;
}

.colorPurple{
    color: #651A8A;
}
